* {
	margin: 0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Ubuntu', sans-serif;
	scroll-behavior: smooth;

}
/*Header*/
header {
	height: 100vh;
	background: url(../images/carousel-image2.jpeg);
	background-size: cover;
	background-position: center center;
	background-color: #464646;
	z-index: 101;
	position: relative;
	background-attachment: fixed;
}

.topnav {
	overflow: hidden;
	background-color: #800000;
	position: sticky;
	top: 0;
	z-index: 100;
}

.topnav > ul, li, a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
}
.topnav ul > li > a {
	padding: 20px 10px;

}
.topnav a:hover {
	color: #800000;
	background-color: #fff;
}


.topnav a.active {
 	background-color: #4CAF50;
}

.topnav .NavIcon	 {
	display: none;
	font-size: 25px;
}


#header-text {
	height: 90vh;
	display: flex;
	flex-direction: column ;
	justify-content: center;
	padding-left: 100px;
}
#header-text h1{
	font-size: 100px;
	background: -webkit-linear-gradient(#f97c7c, #f9c54e);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
#header-text p {
	color: #fff;
	font-size: 18px;
}
#header-text a {
	color: white;

}
#header-text > div {
	margin-top: 30px;
}
#header-text p {
	margin-top: 10px;
}


.backTop a{
	font-size: 60px;
	color: #d2d200;
	position: fixed;
	bottom: 20px;
	right: 100px;

}
.backTop a:hover{
	color: #0000D2;
	transition: 0.3s;

}
/*Get a Quote Button*/
.btn-getQuote {
	color: white;
}
.btn {
	background-color: #00000000;
	border-color: #e44c4c;
	font-size: 15px;
	border-radius: 30px;
	padding: 10px 30px;
}
.btn:hover {
	background-color: #f97c7c;
	transition: .9s;
}
#header-text a:hover {
	color: #f97c7c;
}

/*About me*/
#about-me {
	min-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-left {
	width: 30%;
	margin: 0 30px
}
.about-right {
	margin: 0 30px;
}
.about-right img{
	height: 400px;
	width: 0 auto;
	box-shadow: 0 14px 12px -12px black;
}
.about-right img:hover{
	bottom: 15px;
	background-color: #e8e8e8 ; 
}
.about-left span {
	color: #9e9b9b;
    letter-spacing: 6px;
    font-size: 12px;
}
.about-left p {
	color: #3a3838;
	margin-top: 30px;
    font-size: 15px;
}

 /*Projects*/
 #projects {
 	min-height: 90vh;
 	text-align: center;
 }
 .project-container {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	margin-top: 50px;
 }
 .project1 img , .project2 img, .project3 img {
 	width: 320px;
 	height: 280px;
 	box-shadow: 0 14px 12px -12px;
 }
 #projects > .project-text {
 	margin-top: 50px;
 }
 /*overlay*/
 .container {
  position: relative;
  margin: 0 10px;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #0000008a;
  overflow: hidden;
  width: 99%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.overlay-btn {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.projectbtn {
	display: flex;
	align-items: center;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
	opacity: 0.7;
}
.overlay-btn button{
	padding: 5px 15px;
	margin: 10px;
	background-color: #fff;
	color: #800000;
	border:none;
	border-radius: 10px;
}
.overlay-btn button:hover{
	background-color: #800000;
	color: #fff;
	transition: .3s;
}

/*Skills*/
#skills {
	min-height: 50vh;
	margin: 30px 0;
}
#skills h1 {
	text-align: center;
	margin: 30px;
}
.middle h3 {
	text-align: center;
	color: #292525;
	font-family: Times new roman;
}
.middle{
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon{
	display: inline-block;
	width: 90px;
	height: 90px;
	background: #f1f1f1;
	margin: 20px;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px #00000070;
	color: #800000;
	overflow: hidden;
	position: relative;
	box-shadow: 0 14px 12px -12px; 
	border:1px solid #800000;
}
.icon i{
	line-height: 90px;
	font-size: 26px;
	transition: 0.2s linear;
}
.icon:hover i{
	transform: scale(1.3);
	color: #fff;
}
.icon::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #800000;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}
.icon:hover::before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}

@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

/*Media Querie for navigation bar*/
@media screen and (max-width: 600px) {
  .topnav {
  	position: sticky;
  	top: 0;
  	z-index: 10;
  }
  .topnav > ul,li,a{
  	float: left;
  	display: block;
  	text-align: center;
  }
  .topnav > ul > li > a {
	padding: 10px 10px;
  }
  .topnav .NavIcon {
  	font-size: 40px;
  }
  .topnav li:not(:first-child) {
  	display: none;
  	transition: .6s;

  }
  .topnav a.NavIcon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
  }
  .topnav.responsive {

  	position: sticky;
  	top: 0;

  }
  .topnav.responsive  .NavIcon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Media Iphone*/
@media only screen and (max-width: 375px)  {
	/*Header*/
	.header-text {
		padding-left: 10px;
		font-size: 50px;
	}
	.header-text h1{
		font-size: 60px;
	}
	/*Back to Top Navigation*/
	.backTop a {
		bottom: 0;
		right: 10px;
		font-size: 40px;
		z-index: 1000;
	}
	/*About*/
	#about-me {
		display: block;
		overflow: hidden;
	}
	.about-left {
		width: 80vw;
	}
	.about-right {
		margin-top: 20px;
	}
	.project-container {
		display: flex;
		flex-direction:column;
		padding: 15px 0;
	}
	.project1, .project2, .project3 {
		margin: 15px 0;
	}

	/*Skills*/
	.middle {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


}
.footer {
	height: 200px;	
	background-color: #800000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	font-family: Times new roman;
}
.social-icons i{
	color: #bba096;
	font-size: 20px;
	margin: 0 15px;
}
.social-icons i:hover{
	color: #fff;
}
.email {
	display: flex;
	justify-content: center;
}
.middle-line {
	color: #bba096;
	font-size: 30px;
	position: relative;
	bottom: 10px;
}
.em {
	margin: 0 20px;
	font-size: 13px;
	color: #bba096;
}
.Fname {
	margin-top: 5px;
}

.ft {
	margin: 15px 0;
}
.Fname {
	color: #bba096;
}

 /*
 https://michalsnik.github.io/aos/
https://css-tricks.com/the-shapes-of-css/
https://colorlib.com/preview/theme/alime/index.html


https://jdcbonina.gitlab.io/initial-portfolio/
https://jdcbonina.gitlab.io/activity3-session5/
https://jdcbonina.gitlab.io/session7-activity/
 */